<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    
    <form
    id="app"
    @submit="checkForm"
    action="https://vuejs.org/"
    method="post"
    novalidate="true"
  >
  
    <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
  
    <p>
      <label for="firstName"><b>1- Quel est votre prénom...ou votre pseudo ? (Vos données restent personnelles)</b></label>
      <input
        id="firstName"
        v-model="firstName"
        type="text"
        name="firstName"
      >
    </p>
    <br>

    <p><b>2- Quel est votre besoin ?</b></p>

    <p>
      <label for="numberOfLamps">a- En éclairage : Combien de lampes ?</label>
      <select
      id="numberOfLamps"
      v-model="numberOfLamps"
      name="numberOfLamps"
    >
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    </p>

    <p>
        <label for="numberOfPhones">b- Combien de téléphones ? ... et de smartphones</label>
        <select
        id="numberOfPhones"
        v-model="numberOfPhones"
        name="numberOfPhones"
      >
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      </p>
    
    <p>
      <label for="information">c- En informations ? (Choisissez-en autant que vous voulez)</label>
        <div>
            <input type="checkbox" id="television" name="television">
            <label for="television">Télévision</label>
        </div>
        <div>
            <input type="checkbox" id="computer" name="computer">
            <label for="computer">Ordinateur</label>
        </div>
        <div>
            <input type="checkbox" id="radio" name="radio">
            <label for="radio">Radio</label>
        </div>
        <div>
            <input type="checkbox" id="internet" name="internet">
            <label for="internet">Internet</label>
        </div>
        <div>
            <input type="checkbox" id="otherInformation" name="otherInformation">
            <label for="otherInformation">Autre</label>
        </div>
          
    </p>

    <p>
        <label for="cold">d- En froid ? (Choisissez-en autant que vous voulez)</label>
        <div>
            <input type="checkbox" id="fridge" name="fridge">
            <label for="fridge">Réfrigérateur</label>
        </div>
        <div>
            <input type="checkbox" id="freezer" name="freezer">
            <label for="freezer">Congélateur</label>
        </div>
        <div>
            <input type="checkbox" id="noCold" name="noCold">
            <label for="noCold">Non</label>
        </div>
        <div>
            <input type="checkbox" id="otherCold" name="otherCold">
            <label for="otherCold">Autre</label>
        </div>
      </p>

      <p>
        <label for="specialEquipment">e- Avez-vous besoin d'alimenter un équipement spécial ?</label>
        <div>
          <input type="radio" id="yesSpecialEquipment" name="specialEquipment" value="yesSpecialEquipment">
          <label for="yesSpecialEquipment">Oui</label>
        </div>
        <div>
          <input type="radio" id="noSpecialEquipment" name="specialEquipment" value="noSpecialEquipment">
          <label for="noSpecialEquipment">Non</label>
        </div>
      </p>

      <p>
        <label for="additionalEquipment">f- Dites-nous quel est cet équipement supplémentaire (Choisissez-en autant que vous voulez) :</label>
        <div>
            <input type="checkbox" id="fan" name="fan">
            <label for="fan">Ventilateur</label>
        </div>
        <div>
            <input type="checkbox" id="air_conditioner" name="air_conditioner">
            <label for="air_conditioner">Climatiseur</label>
        </div>
        <div>
            <input type="checkbox" id="pump" name="pump">
            <label for="pump">Pompe</label>
        </div>
        <div>
            <input type="checkbox" id="otherAdditionalEquipment" name="otherAdditionalEquipment">
            <label for="otherAdditionalEquipment">Autre</label>
        </div>
      </p>
      <br>

      <p><b>3- Où l'équipement sera-t-il installé ?</b></p>

      <p>
            <label for="country">a- Pays ?</label>
            <div>
                <input type="radio" id="senegal" name="senegal" value="senegal">
                <label for="senegal">Sénégal</label>
            </div>
            <div>
                <input type="radio" id="anotherAfricanCountry" name="anotherAfricanCountry" value="anotherAfricanCountry">
                <label for="anotherAfricanCountry">Un autre pays d'Afrique</label>
            </div>
            <div>
                <input type="radio" id="france" name="france" value="france">
                <label for="france">France</label>
            </div>
        </p>

        <p>
            <label for="city">b- Ville / Village ? (Là ou l'équipement sera utilisé)</label>
            <input
                id="city"
                v-model="city"
                type="text"
                name="city"
            >
        </p>

        <p>
            <label for="country">c-Pour qui ? Pour un foyer ou une petite entreprise ?</label>
            <div>
                <input type="radio" id="home" name="home" value="home">
                <label for="home">Un foyer</label>
            </div>
            <div>
                <input type="radio" id="business" name="business" value="business">
                <label for="business">Un business</label>
            </div>
        </p>

    <p>
      <input
        type="submit"
        value="Envoyer"
      >
    </p>
  
  </form>



<script src="devis.js"></script>

</body>
</html>